name: .NET Core for Windows

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest
    container: mcr.microsoft.com/dotnet/sdk:10.0

    steps:
    - uses: actions/checkout@v6
    - name: Install dependencies
      run: dotnet restore -r win-x64 ScepClient.csproj
    - name: Build
      run: dotnet build -p:Version=1.2.$GITHUB_RUN_NUMBER.500 --configuration Release --no-restore -r win-x64 ScepClient.csproj
    - name: Publish
      run: dotnet publish -p:Version=1.2.$GITHUB_RUN_NUMBER.500 --configuration Release --no-restore -r win-x64 -p:PublishSingleFile=true --self-contained false ScepClient.csproj
    - name: Upload build artifact
      uses: actions/upload-artifact@v6
      with:
        name: scepclient-win-x64
        path: bin/Release/net10.0/win-x64/publish/*