# This creates a new release on GitHub

name: Release Current .NET Core for Linux Version

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: dawidd6/action-download-artifact@v11
        with:
          # Optional, GitHub token
          github_token: ${{secrets.GITHUB_TOKEN}}
          # Required, workflow file name or ID
          workflow: build-linux-core.yml
          # Optional, the conclusion of a completed workflow to search for
          # Can be one of:
          # "failure", "success", "neutral", "cancelled", "skipped", "timed_out", "action_required"
          # Ignores conclusion by default (thus using the most recent completed run when no other option is specified, regardless of conclusion)
          workflow_conclusion: success
          # Optional, will use the branch
          branch: main
          # Optional, directory where to extract artifact
          path: publish

        # Now we do not have the ZIP anymore, so we must re-zip the extracted exe
      - name: ZIP EXE for download
        run: zip --junk-paths scepclient-core-linux-x64 publish/scepclient-linux-x64/ScepClient
    
      - name: Create tag
        id: create_tag
        shell: bash
        run: |
          tag=$(date +"%Y%m%d-%H%M-linux-core")
          echo "tag=$tag" >> $GITHUB_OUTPUT

      - name: Create Release
        uses: ncipollo/release-action@v1
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          artifacts: scepclient-core-linux-x64.zip
          tag: ${{ steps.create_tag.outputs.tag }}
          artifactContentType: application/zip
          makeLatest: false